# Eclipse stuff #
#################
.classpath
.project
.settings/

# Intellij stuff #
##################
*.iml
*.ipr
*.iws
.idea/

# Build and unit tests stuff #
#############################
logs/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
work/
amps-standalone/
*/dependency-reduced-pom.xml
*.userprefs
bin/
obj/

# eye jar #
# #########
*/eye2.jar

# Mac stuff #
#############
.DS_Store



graphwalker-cli-4.2.0 .jar
java-plugin-generator/pet.json
